#cssmenu ul {
list-style-type:none;
width:auto;
position:relative;
display:block;
height:33px;
font-size:.7em;
background: #76B3F1 url(../images/bg.png) repeat-x top left;
font-family:Verdana,Helvetica,Arial,sans-serif;
border:1px solid #000;
margin:0;
padding:0;
}

#cssmenu li {
display:block;
float:left;
margin:0;
padding:0;
}

#cssmenu li a {
float:left;
color:#A79787;
text-decoration:none;
height:24px;
padding:9px 15px 0;
font-weight:normal;
}

#cssmenu li a:hover,.current {
color:#fff;
background: #A3BAE6 url(../images/bg.png) repeat-x top left;
text-decoration:none;
}

#cssmenu .current a {
color:#fff;
font-weight:700;
}
